@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-farsi {
    @apply font-bodyFa text-right;
  }
}

@layer utilities {
  .text-inter-char {
    text-align: justify;
  }
  .text-inter-char:after {
    content: "";
    display: inline-block;
    width: 100%;
  }
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
